<div class="card text-center mb-2 bg-warning">
  <h1>Posts</h1>
</div>

<div class="">
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <div class="card p-3 mb-1">
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
      </div>
    <% end %>
  <% end %>
</div>